body {
  background-color: #dcdcdc;
}
.title {
  padding: 20px;
  background-color: #38464b;
  color: #dcdcdc;
}
.form-wrapper {
  /* border: 5px solid black; */
  justify-content: center;
  margin: auto;
  columns: 1;
  width: 350px;
}
.center {
  justify-content: center;
  margin: auto;
  display: flex;
}

.margined {
  margin: 20px;
}

.recipe-search {
  width: 325px;
  margin:10px;
}
